@media (max-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-dark-light {
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .navbar-menus {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  #navbar-responsive {
    position: absolute;
    background-color: rgba(87, 184, 255);
    display: block;
    top: 0;
    z-index: 2;
    left: -100%;
    width: 100%;
    transition: 1s;
  }
  #navbar-responsive .nav-link {
    display: inline-block;
    width: 100%;
    font-size: 2.25rem;
    padding: 30px 0;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }

  #navbar-responsive a:hover {
    color: #fac422;
    transition: 0.5s;
  }
  #navbar-responsive .nav-btn:hover {
    border: 1px solid #fac422;
  }
  #navbar-responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    list-style-type: none;
  }
  #close-navbar {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .nav-contact-btn {
    display: none;
  }
  .nav-btn {
    display: block;
    border: 1px solid #ffffff;
    font-size: 2.25rem;
    line-height: 30px;
    color: #ffffff;
    border: 1px solid whitesmoke;
    background-color: transparent;
    padding: 10px 25px;
  }
}
